APP_PORT=8000
APP_KEY=
APP_LOG=console.log

DB_DIALECT=
DB_HOST=127.0.0.1
DB_NAME=
DB_USER=
DB_PASS=
DB_STORAGE=


# === EMAIL / SMTP (GMAIL) ===

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_SECURE=false

MAIL_USER=casaflow2026@gmail.com
MAIL_PASS=

MAIL_FROM="CasaFlow <casaflow2026@gmail.com>"

#==ADMIN==

ADMIN_NAME=Admin
ADMIN_EMAIL=lapispeter69@gmail.com
ADMIN_PASSWORD=


APP_FRONTEND_URL=http://localhost:4200